<div>

    <label for="nombre-receta">
        Nombre de la receta
    </label>

    <input id="nombre-receta"
           type="text"
           ng-model="receta.nombre"
           placeholder="¿Qué vas a cocinar?"
           class="u-full-width"
           required>
    <!--Componente para ingredientes-->
    <ingredientes coleccion="receta.ingredientes"
                  nuevo-ingrediente="agregarIngrediente(ingrediente)"
                  ingrediente-eliminado="eliminarIngrediente(indice)"></ingredientes>

    <!--Botón para guardar receta-->
    <button ng-click="notificarTexto()"
            ng-disabled="!puedoGuardar()"
            class="u-full-width button-primary">
        Aceptar</button>

</div>