<!--Título de la aplicación-->
<header>
    <h1>Mi Cook-i-Book</h1>
</header>

 <!--Barra de navegación-->
<nav>
    <ul>
        <li>
            <!--Con la directiva ng-link establecemos el nombre de ruta a navegar-->
            <a ng-link="['MisRecetas']">Mis Recetas</a>
        </li>
        <li>
            <!--Con la directiva ng-link establecemos el nombre de ruta a navegar-->
            <a ng-link="['NuevaReceta']">Nueva Receta</a>
        </li>
    </ul>
</nav>
 <!--Zona dinámica-->
<ng-outlet></ng-outlet>